<article>
  <h2 class="text-4xl">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form text_field' %>
    </div>
    <div class="my-5">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form text_field' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="my-5">
        <%= f.check_box :remember_me, class: 'mr-2 border-gray-200 shadow' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: 'inline-block btn-to-submit' %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</article>
