<%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
<%= form_with(model: post, class: 'contents') do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, value: @post.title == 'Untitled' && '' || @post.title, class: 'block w-full px-3 py-2 mt-2 prose border border-gray-200 rounded-md shadow outline-none' %>
  </div>
  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_text_area :content, rows: 4, class: 'block w-full px-3 py-2 mt-2 prose border border-gray-200 rounded-md shadow outline-none' %>
  </div>
  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(%i[PUBLIC PRIVATE]), {prompt: "choose visibility"}, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>
  <div class="my-5">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>
  <div class="inline">
    <%= form.submit class: 'inline-block btn-to-submit' %>
  </div>
<% end %>
