<div id="<%= dom_id post %>">
  <article class="prose">
    <h2 class="my-5 text-2xl">
      <%= post.title %>
    </h2>
    <% if post.status != "PUBLIC" %>
      <p class="my-5">
        <strong>
          <%= post.status %>
        </strong>
      </p>
    <% end %>
    <p class="my-5">
      <%= render 'users/preview', user: post.user %>
    </p>
    <%= post.content %>
    <p class="my-5">
      <%= render 'votes', post: post %>
      <span class="mx-3">
        <strong>Tags:</strong>
        <%= post.tag_list %>
      </span>
    </p>
    <p class="my-5">
      Created: <%= time_tag post.created_at, 'data-local': 'time-ago' %>
    </p>
  </article>
  <% if post.revisions > 0 %>
    <p>
      <%= link_to "Revisions: #{post.revisions}", "#{post_path(@post)}/changes", class: 'underline' %>
    </p>
    <p class="my-5">
      Last revised: <%= time_tag post.updated_at, 'data-local': 'time-ago' %>
    </p>
  <% end %>
</div>
