<div id="<%= dom_id post %>">
  <article class="prose">
    <% if post.status != "PUBLIC" %>
      <p class="my-5">
        <strong>
          <%= post.status %>
        </strong>
      </p>
    <% end %>
    <p class="my-5">
      <strong>
        <%= post.user.name %>
      </strong>
      <%= post.user.email %>
    </p>
    <p class="my-5">
      <%= post.content %>
    </p>
    <p class="my-5">
      <strong>Tags:</strong>
      <%= post.tags %>
    </p>
  </article>
  <% if action_name != "show" %>
    <%= link_to 'Show this post', post, class: 'btn-to-show' %>
    <% if post.mutable_to? current_user %>
      <%= link_to 'Edit this post', edit_post_path(post), class: 'ml-2 btn-to-show' %>
    <% end %>
    <hr class="mt-6">
  <% elsif post.versions.length > 0 %>
    <p>
      Revisions: <%= post.versions.length %>
    </p>
  <% end %>
</div>
