<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">User:</strong>
    <%= post.user_id %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Content:</strong>
    <%= post.content %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Status:</strong>
    <%= post.status %>
  </p>
  <p class="my-5">
    <strong class="block mb-1 font-medium">Tags:</strong>
    <%= post.tags %>
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if current_user && post.user_id == current_user.id %>
      <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
