<%= turbo_frame_tag id="#{dom_id(post)}_votes" do %>
  <span class="mx-3">
    <% likes_count = post.votes_for.count(&:vote_flag) %>
    <%= likes_count %>
    <% if current_user
      current_user_vote = post.votes_for.find { |vote| vote.voter_id == current_user.id }
      like_class = ''
      dislike_class = ''
      if current_user_vote
        if current_user_vote.vote_flag
          like_class = 'bg-gray-200'
        else
          dislike_class = 'bg-gray-200'
        end
      end
      likes = link_to '⇧', post.like_path, class: like_class
      dislikes = link_to '⇩', post.dislike_path, class: dislike_class
    else
      likes = '⇧'
      dislikes = '⇩'
    end %>
    <%= likes %>
    <%= post.votes_for.length - likes_count %>
    <%= dislikes %>
  </span>
<% end %>
