<div class="flex flex-col w-full mx-auto">
  <div class="w-full mx-auto">
    <%= render @post %>
    <% if @post.mutable_to? current_user %>
      <%= link_to 'Edit this post', edit_post_path(@post), class: 'mt-2 btn-to-show' %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: 'mt-2 btn-to-show' %>
      </div>
    <% end %>
    <%= link_to 'Back to posts', posts_path, class: 'ml-2 btn-to-show' %>
  </div>
  <% if current_user %>
    <%= turbo_frame_tag 'new_comment_button', target: 'new_comment' do %>
      <div class="flex items-center justify-between py-8">
        <h2 class="text-2xl font-bold"><%= @post.comments.length %> comments</h2>
        <%= link_to 'New comment', @post.new_comments_path, class: 'block btn-to-submit' %>
      </div>
      <%= turbo_frame_tag 'new_comment' %>
    <% end %>
  <% else %>
    <p class="mx-auto my-5">
      You need to <%= link_to 'sign in', new_user_session_path, class: 'text-blue-600' %> to comment.
    </p>
    <h2 class="text-2xl font-bold"><%= @post.comments.length %> comments</h2>
  <% end %>
  <%= turbo_frame_tag 'comments0offset', src: @post.comments_path, target: 'comments1offset' %>
</div>
