<header class="sticky top-0 flex items-center justify-between w-full p-2 text-center bg-white rounded-lg shadow-md">
  <nav>
    <span class="px-2 text-2xl">
      <%= link_to 'Home', root_path %>
    </span>
    <span class="px-2 text-xl">
      <%= link_to 'Posts', posts_path %>
    </span>
  </nav>
  <% if @q %>
    <%= render 'search_form', q: @q %>
  <% end %>
  <% if user_signed_in? %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn-to-sign-in' %>
  <% else %>
    <%= button_to 'Sign in', new_user_session_path, method: :get, class: 'btn-to-sign-in' %>
  <% end %>
</header>
